$hover_gray-black:gradient(#414345, #232526);
$hover_greenlight-noraml:gradient(#a8e063, #56ad36);
$darkPurple:#0d0c52;
$Salem-greenSuave:#098551;
$Mountain_Meadow-GreenLight:#18bca4;
$Mountain-GreenLight:#15cb86;
$Mandy-red-pink: rgba(186, 26, 58, 0.854);


